/*
<!--
    ########################################
    ## @author Benjamin Thomas Schwertfeger (July 2021)
    ## copyright by Benjamin Thomas Schwertfeger (July 2021)
    ############ 
-->
*/

:root {
  --primary-bg-color: white;
  --primary-font-color: black;
  --primary-font-size: 18px;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  /* avoid transition flickering */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d; 
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--primary-font-size);
  color: var(--primary-font-color);
}
a {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
a:link,
a:visited {
  color: blue;
}
a:hover {
  color: red;
}
canvas{
  width: 91%;
  height: 100%;
  margin-right:1%;
}

.p_information {
  width: 80%;
  margin: 0px auto;
  font-size: 18;
  text-align: justify;
}

.input-wrapper {
  min-width: 160px;/*290px;*/
  margin: 5px;
}
.input-wrapper,
.slide-value {
  display: inline-block;
}

.slide {
  float: right;
  -webkit-appearance: none;
  min-width: 105px;/*225px;*/
  height: 14px;

  outline: none;
  opacity: 0.7;
  padding: 0px;
  margin: 2px 0px 2px 0px;

  border-radius: 14px;
  background: #ffffff;
  box-shadow: inset 26px 26px 52px #b3b3b3, inset -26px -26px 52px #ffffff;
  transition: opacity 0.3s ease-in-out;
}
.slide:hover {
  opacity: 1;
}
.slide::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 18px;
  cursor: pointer;
  border-radius: 15px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 6px 6px 12px #969696, -0px -0px 0px #ffffff;
}
.slider::-moz-range-thumb {
  width: 35px;
  height: 20px;
  cursor: pointer;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 6px 6px 12px #969696, -0px -0px 0px #ffffff;
}
.slide-value {
  width: 65px;
  height: 20px;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 0px 0px;
  margin-top: 2px;
  margin-left: 0px;
  margin-right: 10px;

  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 6px 6px 12px #969696, -6px -6px 12px #ffffff;
}

.someBtn {
  background-color: #ffffff;
  border: none;
  color: black;
  margin: 10px 10px 10px 10px;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  box-shadow: 16px 16px 32px #969696, -16px -16px 32px #ffffff;
  transition: box-shadow 0.3s ease-in-out;
}
.someBtn:hover {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 8px 8px 16px #969696, -8px -8px 16px #ffffff;
  cursor: pointer;
}
.someBtn:active {
  background-color: #ffffff;
  box-shadow: inset 8px 8px 16px #969696, inset -8px -8px 16px #ffffff;
}
.selection{
  position: relative;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  border: none;
  -moz-padding-start: calc(10px - 3px);
  padding-left:8px;
  width:30px;
  height:40px;
  border-radius: 10px ;
  box-shadow: 8px 8px 32px #969696, -8px -8px 32px #ffffff;
  cursor:pointer;
  outline: none;
  transition: box-shadow 0.1s ease-in-out;
}
.select:focus::-ms-value {
  background-color: transparent;
}

.selection:hover{
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 8px 8px 16px #969696, -8px -8px 16px #ffffff;
}
.selection:active{
  background-color: #ffffff;
  box-shadow: inset 8px 8px 16px #969696, inset -8px -8px 16px #ffffff;
}
/*
# =========
# =====================
# =====================================
# ===================================================================================
# ===================================================================================
# TEBM 
*/
.tebm-content-wrapper{
  width:95%;
  margin: 0 auto;
  border-radius: 30px 30px 30px 30px;
  padding: 30px 30px 15px 30px;
  box-shadow: 26px 0px 52px #969696, -26px -26px 52px #ffffff;
}
.tebm-content {
  width: 100%;
  display: inline-block;
  font-size: 0px;
  position: relative;
}
.tebm-plot-container{
  width:98%;
  margin:0 auto;
}
.ebm-all-graphs-container {
  z-index: 2;
  margin-bottom:20px
}
.tebm-graph-container{
  z-index:1;
  margin-bottom: 10px;
}
.tebm-graph-container,
.ebm-all-graphs-container{
  width: 100%;
  height: 300px;
  position: relative;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 16px 0px 32px #969696, -16px -16px 32px #ffffff;
}

.tebm-input-section{
  position: relative;
  text-align: center;
  font-size: var(--primary-font-size);
}
.tebm-input-section-table {
  padding: 15px;
}

.tebm-input-section button {
  margin-top: 15px;
  vertical-align: top;
}


/*
# =========
# =====================
# =====================================
# ===================================================================================
# ===================================================================================
# COMPLEX TEBM 
*/

.complex-input-wrapper{
  display: inline-block;
  margin: 10px 0px 10px 10px;
  box-shadow: 12px 12px 32px #969696, -12px -12px 32px #ffffff;
  border-radius: 15px;
  position: relative;
  padding: 7px;
  transition: box-shadow 0.3s ease-in-out;
}
.complex-input-wrapper:hover {
  box-shadow: 22px 22px 32px #969696, -22px -22px 32px #ffffff;
}
.complex-input-wrapper input {
  position: relative;
  max-width: 70px;
  margin-left: 10px;
  padding: 7px;

  border: none;
  border-radius: 10px;
  
  text-align: center;
  color: black;
  background-color: #ffffff;
  box-shadow: inset 2px 2px 16px #969696, inset -2px -2px 16px #ffffff;
  
  outline: none;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  transition: box-shadow 0.3s ease-in-out;
}
.complex-input-wrapper input:hover {
  box-shadow: inset 6px 6px 16px #969696, inset -6px -6px 16px #ffffff;
}

.complex-ebm-plot-container{
  min-height: 800px;
  width: 95%;
  margin: 0 auto;
  padding:30px 30px 10px 30px;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 26px 0px 52px #969696, -26px -26px 52px #ffffff;
  font-size: 0;
}
.complex-contour-plots-wrapper{
  width: 100%; 
  min-height: 600px;
  margin: 0 auto;

  border-radius: 20px;
  background: #ffffff;
  box-shadow: 16px 0px 32px #969696, -16px -16px 32px #ffffff;
}
.complex-contour-plots-wrapper-row{
  width: 95%;
  height: 100%;
  margin: 0 auto;
}
.complex-contour-plot-container{
    display: inline-block;
    width: 33.33%;
    height: 600px;
}

.complex-ebm-4graphs-container{
  width: 100%;
  min-height:500px;
  padding-top:10px;
}
.complex-graph-row{
  width: 100%;
  margin: 0 auto;
  font-size: 0;
}
.col-left, .col-right{
  display: inline-block;
  width:50%;
  min-height: 280px;
} 
.complex-graph-container{
  margin: 0 auto;
  width: 98%;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 16px 0px 32px #969696, -16px -16px 32px #ffffff;
  min-height: 260px;  
}
.complex-graph-container canvas{
  width: 99%;
  height: 260px;
  padding-right: 1%;
}

@media only screen and (max-width: 920px){
  .col-left, .col-right{
    display: inline-block;
    width: 100%;
  }
}
